@import '../sass/utils/variables.scss';
@import '../sass/components/common.scss';
@import '../sass/components/containers.scss';

// main page
@import '../sass/components/modal.scss';
@import '../sass/components/header.scss';
@import '../sass/components/orderSection.scss';
@import '../sass/components/advantagesSection.scss';
@import '../sass/components/services.scss';
@import '../sass/components/teamMembers.scss';
@import '../sass/components/icons.scss';
@import '../sass/components/footer.scss';

//portfolio
@import '../sass/components/portfolioFilter.scss';
@import '../sass/components/portfolioProjects.scss';
