@import '../utils/variables';

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 15px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 100%;
}

.advantages__icon {
  width: 100%;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding-top: 30px;
  color: $headerColor;
  text-align: center;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $secondaryHeaderColor;
  padding-top: 10px;
}

.hidden-section {
  display: none;
}

@media screen and (min-width: 768px) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 30px;
    column-gap: 30px;
  }

  .advantages__item {
    flex-basis: calc((100% / 2) - 15px);
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .advantages {
    flex-direction: row;

    padding-top: 94px;
    padding-bottom: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .advantages__title {
    text-align: left;
  }
  .advantages__item {
    min-width: auto;
    flex-basis: calc((100% / 4) - 23px);
    align-items: flex-start;
  }
}

// .advantages-section {
//   padding-top: 94px;
//   text-align: left;
// }

// .advantages__item {
//   width: 270px;
// }

// .advantages__title {
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   padding-top: 30px;
// }

// .advantages__description {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 24px;
//   letter-spacing: 0.03em;
//   color: $secondaryHeaderColor;
//   padding-top: 10px;
// }
