@import '../utils/variables';
.modal-window {
  background-color: $modalWindowColor;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition-property: transform;
  transition-duration: 500ms;
  transform: translateY(0);
}

.modal-box {
  position: relative;
  background-color: $backgroundColor;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-button {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $backgroundColor;
  cursor: pointer;
}

.close-button__icon {
  position: inherit;
  top: 0;
  left: 0;
}

.is-hidden {
  pointer-events: none;
  transition-property: transform, opacity, visibility;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition-duration: 500ms;
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  font-family: $mainFont;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $headerColor;
  margin-bottom: 12px;
}

.modal-form__label {
  /* margin-bottom: 10px; */
  font-family: $mainFont;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: $secondaryHeaderColor;
  position: relative;

  &:focus-within .modal-form__icon {
    fill: $highlightElementColor;
  }

  &:focus-within .modal-form__input,
  &:focus-within .modal-form__textarea {
    outline: none;
    border-color: $highlightElementColor;
  }
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: $headerColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__rules {
  position: relative;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: $secondaryHeaderColor;
  position: relative;
  padding-left: 37px;
  cursor: pointer;
}

.modal-form__acceptation {
  appearance: none;
  -webkit-appearance: none;

  &:checked + .modal-form__check-icon {
    background-color: $highlightElementColor;
    border: none;
  }
}

.modal-form__check-icon {
  position: absolute;
  top: 4px;
  left: 17px;
  width: 16px;
  height: 15px;
  border: 2px solid $headerColor;
  border-radius: 2px;
}

.submit-button {
  font-family: $mainFont;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $brightElementColor;
  background-color: $highlightElementColor;
  border: none;
  border-radius: 4px;
  width: 200px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
