@import '../utils/variables';

.order-section {
  width: 1600px;
  margin: 0 auto;
  background-color: $darkBackgroundColor;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
    url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 452px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.order-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: $brightElementColor;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.button {
  width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: $brightElementColor;
  background-color: $highlightElementColor;
  border-style: none;
  border-radius: 4px;
  padding: 10px 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
