@import '../utils/variables';

.team-member {
  width: 100%;
  background-color: $backgroundColor;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section--gray {
  & .flex-container {
    gap: 30px;
  }
}

.team-member__card {
  margin: 0;

  width: 100%;
}

.team-member__pic {
  width: 100%;
}

.team-member__data {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}

.team-member__role {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $secondaryHeaderColor;
}

@media screen and (min-width: 768px) {
  .section--gray {
    & .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .team-member {
    flex-basis: calc((100% / 2) - 15px);
  }
}

@media screen and (min-width: 1200px) {
  .section--gray {
    & .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .team-member {
      flex-basis: calc((100% / 4) - 30px);
    }

    .team-member__pic {
      content: none;
      &--1 {
        content: url('../images/photo2-1.jpg');
      }
      &--2 {
        content: url('../images/photo2-2.jpg');
      }
      &--3 {
        content: url('../images/photo2-3.jpg');
      }
      &--4 {
        content: url('../images/photo2-4.jpg');
      }
    }
  }
}
