// paleta kolorów
$backgroundColor: white;
$highlightElementColor: #2196f3;
$headerColor: #212121;
$secondaryHeaderColor: #757575;
$brightElementColor: white;
$buttonBcgColor: #f5f4fa;
$grayFillColor: rgba(245, 244, 250, 1);
$modalWindowColor: rgba(0, 0, 0, 0.2);
$darkBackgroundColor: #2f303a;
$darkThemeTextColor: rgba(255, 255, 255, 0.6);
$darkThemeIconColor: rgba(255, 255, 255, 0.1);
$iconInactiveColor: rgba(175, 177, 184, 1);
$projectBorderColor: #eeeeee;
$projectOverlayColor: rgba(33, 150, 243, 0.9);
//czcionki

$logoFont: 'Raleway';
$mainFont: 'Roboto';
